.profile{
    position: absolute;
    top: 35%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}    
.profileImage{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profileList{
    text-align: left;
    margin-bottom: 20px;
}        

.profileListItem{
    font-size: 18px;
    margin-bottom: 10px;
        /* & strong{
            font-weight: 700;
        } */
}


.profileButton{
        display: block;
        margin: 0 auto;
        padding: 10px 25px;
        font-weight: 600;
        font-size: 16px;
        color: #fff;
        /* background-color: #4caf50; */
        background-color: #2E71BB;
        border-radius: 5px;
        /* border: 2px solid #388E3C; */
}
